div{
    border: 1px solid black;
    margin-bottom : 12px;
}

.box1{
    border-style : dotted;
}

.box2{
    border-style: dashed;
}

.box3{
    border-style : double;
    border-radius : 20px;
    padding : 12px;
}